html {
	box-sizing: border-box;
	background-color: #001126;
	text-decoration: none;
	font-family: NotoSansMonoCJK, monospace;
	font-weight: normal;
	font-style: normal;
}

*,
*::before,
*::after {
	color: unset;
	box-sizing: inherit;
	text-decoration: inherit;
}

body {
	@apply m-0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	@apply m-0;
}

svg {
	@apply align-baseline;
}
