.article > *:first-child {
	@apply mt-0;
}

.article h1,
.article h2 {
	@apply mt-6 mb-2 sm:mt-12 sm:mb-4 font-bold text-xl text-lightblue;
}

.article h3,
.article h4 {
	@apply mt-4 mb-1 sm:mt-6 sm:mb-2 font-bold text-lg text-lightblue;
}

.article h5,
.article h6 {
	@apply mt-2 mb-1 sm:mt-4 sm:mb-1 font-bold text-lg text-lightblue;
}

.article p {
	@apply text-sm sm:text-base text-light leading-5 sm:leading-7;
}

.article a {
	color: unset;
	text-decoration: underline;
}

.article a:hover {
	text-decoration: none;
}

.article img,
.article video {
	@apply block mx-auto my-6 rounded max-w-full;
}

.article code {
	@apply text-lightblue;
}

.article pre {
	@apply my-4 p-4 bg-black rounded overflow-x-auto;
}

.article pre ::-moz-selection {
	@apply bg-red text-white;
}

.article pre ::selection {
	@apply bg-red text-white;
}

.article pre > code {
	@apply text-lightgray;
}

.article ol {
	@apply my-2 sm:my-4 pl-8 text-light list-decimal;
}

.article ul {
	@apply my-2 sm:my-4 pl-8 text-light list-disc;
}

.article li {
	@apply text-sm sm:text-base;
}

.article li::marker {
	@apply text-lightblue;
}

.article li + li {
	@apply mt-1 sm:mt-2;
}

.article hr {
	@apply block mt-2 mb-2 border-0 w-full h-px bg-lightblue;
}

.article .math.math-display {
	@apply text-light;
}
